.navbar{
    background-color: #3e3e3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding: 10px;
}
a{
    text-decoration: none;
    padding: 0.5rem;
    color: white;
}
body {
  font-family: Arial, sans-serif;
  background: grey;
  color: #e2e8f0;
  text-align: center;
  margin: 0;
  padding: 40px;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
}

.team-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: grey;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 15px;
}

.role {
  color: #94a3b8;
  margin-bottom: 15px;
}

.social-links a {
  display: block;
  margin: 6px 0;
  color: #60a5fa;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
}

.footer {
  background: #000;
  color: #fff;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  /* border-left: 0.5px solid white;
  border-top: 0.5px solid white;
  border-right: 0.5px solid white;
  border-bottom: 0.5px solid white; */
  margin-top: 40px;
  margin-bottom: 40px;
  
 

}

.footer-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

.footer-top-row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.footer-logo-area {
  flex: 0 0 50%;
  padding: 40px 48px;
  box-sizing: border-box;
  border-right: 1px solid white;
  border-bottom: 0.5px solid white;
  
}

.footer-desc-area {
  flex: 1;
  padding: 40px 48px;
  box-sizing: border-box;
  border-bottom: 0.5px solid white;
  
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-img {
  width: 90px;
  height: 85px;

  padding: 6px;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-right: 50%;

}

.footer-description {
  font-size: 20px;
  line-height: 1;
  color: #fff;
  margin: 0;
}

.footer-nav {
  width: 100%;
  padding: 30px 30px 30px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  transition: color 1s;
}

.footer-nav a:hover {
  color: #ba91f0;
}

.footer-bottom {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.footer-copyright {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 20px 48px;
  font-size: 12px;
  letter-spacing: 1px;
  border-right: 1px solid white;
}

.footer-rights {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 48px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.footer-con {
  border: 0.5px solid rgb(253, 250, 250);
  margin: 10px 30px 10px 30px;
}

