.navbar{
    background-color: #d7c7ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding: 10px;
}
a{
    text-decoration: none;
    padding: 0.5rem;
    color: black;
    font-weight: bold;

}

body {
  font-family: Arial, sans-serif;
  background: white;
  color: black;
  text-align: center;
  margin: 0;
  padding: 40px;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
}

.team-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background:  #e7f4d3;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 15px;
}

.role {
  color: grey;
  margin-bottom: 15px;
}

.social-links a {
  display: block;
  margin: 6px 0;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
  color:green;
}
